.submenu {
  margin: 0px -20px 0px -20px;
  position: sticky;
  top: 0px;
  z-index: $zindex-dropdown - 2;
  .MoreFilters {
    color: $red-orange !important;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    &:hover {
      color: #c23f00 !important;
      background: white !important;
    }
  }
  .FiltersButton {
    text-align: center;
    padding-bottom: 5px;
    background: #f4f5f5;
  }
}
.dashboardHeader {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(244, 245, 245);
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-right: 15px;
  background: white;
}

.dashboard-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.submenu-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background: $panel-bg;
  padding: 14px 10px;
  width: 100%;
  row-gap: 16px;

  .clearall-btn {
    color: $red-orange;
    align-self: flex-end;
    &:hover {
      color: #c23f00 !important;
      background: none !important;
    }
  }
  .FilterCounter {
    background: transparent !important;
    border: 1px solid #ff5300;
    color: #ff5300;
    padding: 0 8px !important;
    &:hover {
      color: #ff5300 !important;
    }
  }
}

.annotation-segment {
  padding: 8px 7px;

  label.cr1 {
    margin-left: 5px;
    margin-top: 3px;
  }
}

.submenu-item {
  display: inline-block;

  .fa-caret-down {
    font-size: 75%;
    padding-left: 8px;
  }

  .variable-link-wrapper {
    svg {
      color: $red-orange;
      width: 22px;
      height: 22px;
      margin-bottom: 0;
    }
  }

  .gf-form {
    margin-bottom: 0;
  }

  .gf-form-label {
    color: #777777;
    border: none;
    font-weight: 400;
  }
  button {
    span {
      margin-right: 8px;
    }
  }
  button,
  input {
    background-color: #f7f7f7;
    border: none;
    min-width: 60px;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 10px;
  }
}

.variable-value-link {
  max-width: 500px;
  padding-right: 10px;
  padding: 0 $space-sm;
  background-color: $input-bg;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  display: flex;
  align-items: center;
  color: $text-color;
  height: $input-height;

  .label-tag {
    margin: 0 5px;
  }
}

.variable-link-wrapper {
  display: inline-block;
  position: relative;
}

.variable-value-dropdown {
  position: absolute;
  top: $input-height;
  min-width: 150px;
  max-height: 400px;
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $dropdownBackground;
  box-shadow: $dropdownShadow;
  z-index: $zindex-typeahead;
  font-size: $font-size-base;
  border-radius: 3px 3px 0 0;
  border: 1px solid $tight-form-func-bg;

  &.multi {
    .selected {
      .variable-option-icon {
        background: url($checkboxImageUrl) 0px -18px no-repeat;
      }
    }
  }

  &.single {
    .variable-option-icon {
      display: none;
    }
    .selected {
      background-color: $tight-form-func-highlight-bg;
    }
  }
}

.variable-options-wrapper {
  display: table;
  width: 100%;
}

.variable-options-column {
  max-height: 350px;
  display: table-cell;
  line-height: 26px;
  &:nth-child(2) {
    border-left: 1px solid $tight-form-func-bg;
  }
}

.variable-option-tag,
.variable-option,
.variable-options-column-header {
  display: block;
  padding: 2px 27px 0 8px;
  position: relative;
  white-space: nowrap;
  min-width: 115px;
}

.variable-options-column-header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  &.many-selected {
    .variable-option-icon {
      background: url($checkboxImageUrl) 0px -36px no-repeat;
    }
  }
}

.variable-option-icon {
  display: inline-block;
  width: 24px;
  height: 18px;
  position: relative;
  top: 4px;
  background: url($checkboxImageUrl) left top no-repeat;
}

.variable-option {
  &:hover,
  &.highlighted {
    background-color: $variable-option-bg;
  }
}

.dash-nav-link {
  padding: 8px 7px;
  display: inline-block;
  color: $text-color;
}
