.submenu {
  margin: 0px -20px 10px -20px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.dashboard-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
}

.submenu-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background: $panel-bg;
  padding: 14px 10px;
  width: 100%;
  row-gap: 16px;

  .clearall-btn {
    color: $red-orange;
    align-self: flex-end;
  }
}

.submenu-item {
  display: inline-block;

  .fa-caret-down {
    font-size: 75%;
    padding-left: 8px;
  }

  .variable-link-wrapper {
    svg {
      color: $red-orange;
      width: 22px;
      height: 22px;
      margin-bottom: 0;
    }
  }

  .gf-form {
    margin-bottom: 0;
  }

  .gf-form-label {
    color: #777777;
    border: none;
    font-weight: 400;
  }
  button {
    span {
      margin-right: 8px;
    }
  }
  button,
  input {
    background-color: #f7f7f7;
    border: none;
    min-width: 60px;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 10px;
  }
}

.variable-link-wrapper {
  display: inline-block;
  position: relative;
}
