.submenu {
  margin: 0px -20px 0px -20px;
  position: sticky;
  top: 0px;
  z-index: $zindex-dropdown - 2;
  background: white;
  .MoreFilters {
    color: $red-orange !important;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    &:hover {
      color: #c23f00 !important;
      background: white !important;
    }
  }
  .FiltersButton {
    text-align: center;
    padding-bottom: 5px;
    background: #f4f5f5;
  }
}
.FilterCategory {
  color: $red-orange !important;
  background: white !important;
  text-transform: capitalize;
  &:hover {
    color: #c23f00 !important;
    background: white !important;
  }
}
.FilterCategoryActive {
  border-bottom: $red-orange 2px solid !important;
}

.clearall-btn {
  color: $red-orange !important;
  align-self: flex-end;
  border: 1px solid $red-orange !important;
  &:hover {
    color: #c23f00 !important;
    background: rgba(198, 198, 198, 0.178) !important;
  }
}

.dashboardHeader {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(244, 245, 245);
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-right: 15px;
  background: white;
  position: absolute;
  right: 0;
  z-index: 999999;
}

.dashboard-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.submenu-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background: $panel-bg;
  padding: 14px 10px;
  width: 100%;
  row-gap: 16px;

  .FilterCounter {
    background: transparent !important;
    border: 1px solid #ff5300;
    color: #ff5300;
    padding: 0 8px !important;
    &:hover {
      color: #ff5300 !important;
    }
  }
}

.submenu-item {
  display: inline-block;

  .fa-caret-down {
    font-size: 75%;
    padding-left: 8px;
  }

  .variable-link-wrapper {
    svg {
      color: $red-orange;
      width: 22px;
      height: 22px;
      margin-bottom: 0;
    }
  }

  .gf-form {
    margin-bottom: 0;
  }

  .gf-form-label {
    color: #777777;
    border: none;
    font-weight: 400;
  }
  button {
    span {
      margin-right: 8px;
    }
  }
  button,
  input {
    background-color: #f7f7f7;
    border: none;
    min-width: 60px;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 10px;
  }

  .gf-form-label {
    color: #777777;
    border: none;
    font-weight: 400;
  }
  button {
    span {
      margin-right: 8px;
    }
  }
  button,
  input {
    background-color: #f7f7f7;
    border: none;
    min-width: 60px;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 10px;
  }
}

.variable-link-wrapper {
  display: inline-block;
  position: relative;
}
